.person-card {
    width: 250px;
    min-height: 180px;
    margin : 10px 15px;
    text-align : center;
}

.person-card .card_media {
    height : 200px;
    width : 100%;
}

.person-card h2 {
    font-size : 20px;
}