.AppBar {
	background-color: #275aab;
	background-repeat: no-repeat;
	background-position: right;
	color: white;
	font-size: 1.2em;
	padding: 0 15px;
	display: flex;
	align-items: center;
	font-weight : bold;
}