.card {
    width: 350px;
    min-height: 180px;
    margin: 15px auto;
    font-size: 20px;
}

.material-icons {
    vertical-align: middle;
    margin-right: 10px;
}

.card-title {
    margin: 0 !important;
}

.warning a {
    color: #ff9542 !important;
    border-bottom: 2px #ff9542 dashed;
}