.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App > main {
  padding : 15px;
}

a {
  text-decoration: none;
  color : #585858;
}


.HeaderBar {
	background-color: #275aab;
	color: white;
	font-weight : bold;
}

.HeaderBar h1 {
	font-size : 20px;
	margin : 0;
}

.HeaderBar h1 img {
	height : 60px;
}

nav {
	margin-left : 30px;
	font-size : 16px;
}

nav a {
	color : white;
	padding : 0 10px;
	height : 35px;
	position : relative;
}

nav a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -5px;
	left: 0;
	background-color: white;
	visibility: visible;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

nav a.active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}



.person-card {
	width: 250px;
	min-height: 180px;
	margin : 10px 15px;
}

.person-card .card_media {
	height : 200px;
	width : 100%;
}

.person-card h2 {
	font-size : 20px;
}