main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.class-to-remove {
    margin-left: 50px;
}

.class-to-remove pre {
    width: 550px;
    white-space: break-spaces;
}