.edit-person {
	width : 800px;
	margin: 40px auto;
	padding : 30px;
}

.edit-person img {
	float : left;
	width : 150px;
	border-radius : 150px;
}

.edit-person section {
	text-align : left;
	padding-left : 180px;
}

.edit-person section > div {
	width : 100%;
	padding : 10px 50px 10px 0;
}

.edit-person section > div .input-field {
	width : 100%;
}

.edit-person__actions {
	display : inline-block !important;
	width : 100%;
	text-align: right;
}

.edit-person__save {
	background-color: #E02705 !important;
	color: white !important;
}